.popup__close {
	background-image: url(../../../images/close-button.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 50%;
	outline: 0;
	border: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -40px;
	right: -40px;
	cursor: pointer;
}

.popup__close:hover {
	opacity: .8;
}
